body {
    background-color: darkolivegreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-container {
    height: 1000px;
    position: relative;
    border: brown solid 2px;
}

.box {
    position: fixed;
    width: 500px;
    height: 500px;
    margin: 0;
    left: 25%;
    transform: translateY(25%);
    background-color: lightgray;
}

.box-container {
    position: fixed;
    width: 80%;
    height: 80%;
    margin: 0;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    background-color: blue;
}

.num1-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 40px;
    left: 13%;
    top: 20%;
    background-color: aliceblue;
    font-size: 30px;
}

.operation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: aliceblue;
    left: 46%;
    top: 35%;
    font-size: 35px;;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    border-radius: 30px;
    width: 320px;
    height: 60px;
    left: 11%;
    top: 53%;
    background-color: aliceblue;
}

/* .input-container input {
    position: absolute;
    border: none;
    height: 100%;
    width: 100%;
} */